.pics{
    width:100% ;
}

.subject{
    margin-top: 0;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr ;
}

.profile-pics{
    width: 36px;
   border-radius: 50px;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.author, .stats{
    font-size: 12px;
    color: #606060;
    
}

.author{
    margin-bottom: 4px;
}

.video-grid{
    font-family: 'Roboto',Arial;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
  
    
}

@media (max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-weight: 500;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
}

.profile{
    width: 100%;
    vertical-align: top;
    border-radius: 18px; 
    
}
.text{
    
    display: inline-block;
    width: 200px;
    vertical-align: top;
}







